doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Online resume for David Baker Effendi')
        meta(name='author', content='David Baker Effendi')

        title David Baker Effendi

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Devicons
        link(href='https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none David Baker Effendi
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#leadership') Leadership
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | David 
                        span.text-primary Baker Effendi
                    .subheading.mb-5
                        | Stellenbosch University · Cape Town Area, South Africa · +27 83 432 4666 · 
                        a(href='mailto:dbe@sun.ac.za') dbe@sun.ac.za
                    p.lead.mb-3
                        | Ambitious and enthusiastic computer science student seeking learning opportunities such that I will be able to grow my experience and knowledge in the field of software development and analysis. 
                        | I aim at developing my problem solving and programming skills in a challenging and professional work environment.
                    p.lead.mb-3
                        | Currently completing my MSc Computer Science degree at Stellenbosch University within the field of program analysis - specifically in the context of static dataflow analysis - while leveraging graph database technology and pushdown automata.
                    p.lead.mb-5
                        | The source code for this website can be found
                        a(href='https://github.com/DavidBakerEffendi/DavidBakerEffendi.github.io/tree/develop') here.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/david-baker-effendi-26584bb9/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/DavidBakerEffendi')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/SDBakerEffendi')
                            i.fab.fa-twitter

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Class Assistant and Hons Project Co-Supervisor
                            .subheading.mb-3 Stellenbosch Univesity
                            p
                                | Help students with course material during fixed sessions and online for modules such as
                                | databases & web programming, applied discrete mathematics, computer networks, software engineering,
                                | and functional programming.

                            p
                                | Co-supervising the following honours student projects alongside my MSc supervisor:
                            ul
                                li "Combining NLP and CV Techniques for Hierarchical Multi-label Classification",
                                li "Pre-hospital Resource Simulation, Visualization and Analysis", and
                                li "Structuring of a Bibliometric Dataset for Insightful Queries"

                        .flex-shrink-0
                            span.text-primary February 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 ACI Worldwide, CPT
                            p
                                | Frontend development in Angular 8 for payment terminal management software. Involved processing
                                | an input file, converting rows and transforming data into models, iterating through collection 
                                | of models and posting resulting model to API. All features tested with Jasmin and E2E on a Jenkins
                                | pipeline.
                        .flex-shrink-0
                            span.text-primary December 2019 - January 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 MWR InfoSecurity, JHB
                            p
                                | Created a full-stack Vue.js, Tornado, MariaDB web application within two weeks from scratch. Deployed
                                | each of the three components using Docker and Docker Compose.
                        .flex-shrink-0
                            span.text-primary June 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 ACI Worldwide, CPT
                            p
                                | Maintained and added features to in-store software (Angular 6/Spring Boot/MSSQL) developed in the 
                                | last internship (June 18 - July 18) and ended internship with being part of the architectural team
                                | for developing new time logging software. (Java)
                        .flex-shrink-0
                            span.text-primary November 2018 - January 2019
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 ACI Worldwide, CPT
                            p
                                | Working under Postilion L3 Support to create maintenance and diagnostic software as web applications
                                | (Angular 6/Spring Boot/MS SQL) for clients and Help 24.
                        .flex-shrink-0
                            span.text-primary June 2018 - July 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 ACI Worldwide, CPT
                            p
                                | Working under Postilion L3 Support to create product enhancements for already present diagnostics
                                | software (Java) to serve clients and Help 24.
                        .flex-shrink-0
                            span.text-primary November 2017 - January 2018

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            h3.mb-0 University of Stellenbosch
                            .subheading.mb-3 Master of Science
                            div Computer Science
                            p Publications:
                                a(href="https://www.mdpi.com/1999-5903/12/5/78") Suitability of Graph Database Technology for the Analysis of Spatio-Temporal Data
                        .flex-shrink-0
                            span.text-primary February 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            h3.mb-0 University of Stellenbosch
                            .subheading.mb-3 Bachelor of Science (Honours)
                            div Computer Science
                            p Cum Laude
                        .flex-shrink-0
                            span.text-primary February 2019 - November 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            h3.mb-0 University of Stellenbosch
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science
                        .flex-shrink-0
                            span.text-primary February 2016 - November 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Grey High School, Port Elizabeth
                            .subheading.mb-3 Matric
                            div Mathematics, Physics, Biology, and Information Technology
                        .flex-shrink-0
                            span.text-primary March 2011 - November 2015

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-typescript-plain
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-vuejs
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.devicon-debian-plain
                        li.list-inline-item
                            i.devicon-git-plain
                        li.list-inline-item
                            i.devicon-gradle-plain
                        li.list-inline-item
                            i.devicon-postgresql-plain
                        li.list-inline-item
                            i.devicon-protractor-plain
                        li.list-inline-item
                            i.devicon-jasmine-plain
                        li.list-inline-item
                            i.devicon-travis-plain-wordmark
                        li.list-inline-item
                            i.devicon-amazonwebservices-original
                    .subheading.mb-3 Preferred Stack
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-desktop
                            | Flutter | Vue.js
                        li
                            span.fa-li
                                i.fas.fa-server
                            | Kotlin | Python
                        li
                            span.fa-li
                                i.fas.fa-database
                            | TigerGraph | PostgreSQL | ScyllaDB
                        li
                            span.fa-li
                                i.fas.fa-tools
                            | Travis-CI | Gitlab CI/CD
                        li
                            span.fa-li
                                i.fas.fa-cloud
                            | AWS

                    .subheading.mb-3.mt-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Pure Functions, Null-Safety
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Rigorous Testing & Coverage
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from studies and internships, I enjoy brewing homemade craft beers, gaming and 
                        | exercise in the form of gyms, runs, and hikes. I also enjoy the fine wine of Stellenbosch
                        | and Scotch will always be my favourite of the whiskies. In school and my earlier university
                        | years I was a member of the ballroom and Latin-American dancing societies.
                    p.mb-0
                        | In my evenings I like to either play guitar, watch series/anime/YouTube, or read interesting articles or books.
                        | I have a big interest in fullstack web development and learning about graph related technologies.
                        | I am actively part of the TigerGraph open-source community and software developed as a result of my studies 
                        | are all open-sources.

            hr.m-0

            // Leadership
            section#leadership.resume-section
               .resume-section-content
                    h2.mb-5 Leadership

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            h3.mb-0 Member of the House Committee
                            .subheading.mb-3 Helderberg Men's Residence
                        .flex-shrink-0
                            span.text-primary September 2018 - September 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            h3.mb-0 Head Mentor
                            .subheading.mb-3 Helderberg Men's Residence
                        .flex-shrink-0
                            span.text-primary September 2017 - September 2018
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Mentor
                            .subheading.mb-3 Helderberg Men's Residence
                        .flex-shrink-0
                            span.text-primary October 2016 - October 2017
            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            a(href="assets/img/aws-virtual-day.png") AWS Africa Region Virtual Day (2020)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Best Computer Science Honours Project (2019)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Member of the Golden Key Society (2016)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | The Duke of Edinburgh's Award (2015)

            // Projects
            section#projects.resume-section
               .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 GraPL
                            .subheading.mb-3 Graph-based Program Analysis Library
                            p
                                | GraPL is a three-part library written in Kotlin with the purpose of extracting a program's code-property
                                | graph (CPG) from JVM byte-code. The graph is persisted in a graph database and the library intends to 
                                | support more and more graph databases. Dataflow analysis is then performed on the CPG to track multiple
                                | dataflow issues.
                            p
                                | This project is part of my MSc and is my current main focus. These are the three parts of the code:
                            ul
                                li CPG extractor: 
                                    a(href="https://github.com/DavidBakerEffendi/j2GraPL") j2GraPL
                                li Graph database driver:
                                    a(href="https://github.com/DavidBakerEffendi/GraPLHook4j") GraPLHook4j
                                li CPG analysis library: WIP
                            p 
                                | A repository showing example use of the library can be found
                                a(href="https://github.com/DavidBakerEffendi/GraPL-Examples") here.

                        .flex-shrink-0
                            span.text-primary March 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 VSC TigerGraph Extension
                            .subheading.mb-3 Syntax highlighting tool for GSQL
                            p
                                | A community driven GSQL extension for VS Code. Due to the absence of extensions for GSQL on VS Code (one
                                | of my main code editors) I took the initiative to make my own starting with syntax highlighting. This can
                                | be found
                                a(href="https://github.com/DavidBakerEffendi/vsc-gsql-extension") here.

                        .flex-shrink-0
                            span.text-primary May 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Yelp Open Dataset Quickstarters
                            .subheading.mb-3 Quick ways to get started with data analysis on the Yelp dataset
                            p
                                | I've open-sourced three small projects that can help one get started with analysis on the Yelp dataset
                                | by providing a data cleaning script and import guides for TigerGraph and Neo4j.
                            p
                                | This code was used for my 2019 honours project and for the RW334 web development course. These are the
                                | three parts of the code:
                            ul
                                li Data cleaning and subsetting: 
                                    a(href="https://github.com/DavidBakerEffendi/yelp-normalization") yelp-normalization
                                li TigerGraph import guide:
                                    a(href="https://github.com/DavidBakerEffendi/tigergraph-yelp") tigergraph-yelp
                                li Neo4j import guide:
                                    a(href="https://github.com/DavidBakerEffendi/neo4j-yelp") neo4j-yelp

                        .flex-shrink-0
                            span.text-primary March 2019 - March 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Providentia
                            .subheading.mb-3 Database benchmarking suite
                            p
                                | This is a web application that measures the query response times of 3 databases on queries and data 
                                | analysis similar to those found in the real-world. The three databases benchmarked are JanusGraph,
                                | PostgreSQL, and TigerGraph.

                            p
                                | This is the
                                a(href="https://github.com/DavidBakerEffendi/providentia") code
                                | behind my 2019 honours project and is what collected the results for
                                a(href="https://www.mdpi.com/1999-5903/12/5/78") my publication.

                        .flex-shrink-0
                            span.text-primary March 2019 - March 2020

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')